/* Estructura base */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Overpass+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Cutive Mono', monospace;
}
a {
    text-decoration: none;
}
/* Fin de estructura */

/* Encabezado */
#fondoCV {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(131,131,131,1) 50%, rgba(61,61,61,1) 100%);
}
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
#perfil {
    height: 35vh;
    border-radius: 50%;
    border: 0.2rem solid rgb(255, 255, 255);
    margin: 2%;
}
h1 {
    background-color: #000;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
}
/* Fin de encabezado */

/* Cuerpo principal */
#contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.secciones {
    padding: 0.5rem;
    text-align: center;
    line-height : 3vw;
}
.cajaSpan{
    padding: 0.1vh;
    border: solid 1px black;
}

/* Redes */
#redes {
    align-self: center;
    justify-self: center;
    margin: 1rem;
}
.contacto {
    border-radius: 1vh;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 0.5rem 0.3rem;
    transition: all 0.5s linear;
}
#in {
    background-color: #0e76a8;
}
#gh {
    background-color: #000;
}
/* Fin de redes */

/* Boton con link */
#sobreMi {
    text-align: center;
    color: white;
}
.boton {
    background-color: black;
    padding: 0.5rem 3rem;
    margin: 2vh 41vw;
    border-radius: 1rem;
}
.boton #sobreMi:hover {
    color: #FFD700;
}
/* Fin del boton */

/* Pie de pagina */
footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: white;
    font-size: 0.9rem;
}
#copyright {
    padding: 0.5rem;
}
.link-footer {
    color: rgb(128, 230, 243);
    padding: 0rem 0.5rem;
}
.link-footer:hover {
    color: #FFD700;
}
#espacio {
    margin: 0rem 1rem;
}
/* Fin de pie de pagina */

/* Pagina de repositorios */
/* Encabezado */
header p {
    color: #000;
    background: #fff;
    width: 100%;
    text-align: center;
}

/* Descripcion mi */
#descripcion {
    font-weight: bold;
    text-align: center;
    margin: 2vh 30vw;
    color: #000;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,215,0,1) 100%);
    border-radius: 0.3rem;
    text-shadow: black 0.01rem 0.01rem;
}

/* Repositorios */
#mainRepo{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
#fondo2 {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(131,131,131,1) 50%, rgba(61,61,61,1) 100%);
}
#contenedorRepo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.repos {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 3vh 25vw;
}
.tamañoRepo {
    border-radius: 1vh;
    width: 47vw;
    height: 50vh;
}
.descripcionRepo{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFD700;
    text-shadow: black 0.01rem 0.01rem;
}
#aclaracion{
    text-align: center;
    color: #000000;
    text-shadow: black 0.01rem 0.01rem;
}
.codigo{
    background-color: #fff;
    padding: 1rem;
    width: 4.5rem;
    margin-top: 16px;
    margin-left: 44%;
    border-radius: 1rem;
}
.codigo a{
    text-decoration: none;
    color: #000;
}
.codigo a:hover {
    color: #FFD700;
}


/* Boton Volver */
#inicio {
    text-align: center;
    color: #000;
}
.boton2 {
    background-color: #fff;
    padding: 1rem;
    margin: 2vh 47vw;
    border-radius: 1rem;
}
.boton2 #inicio:hover {
    color: #FFD700;
}

/* Media queries */
/* Media min */
@media (min-width: 1024px) {
    .contacto:hover {
        color: #FFD700;
        transform: scale(2,2);
        padding: 1.2vh 1.2vw;
        box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem #000;
    }
    .boton {
            margin: 2vh 45vw;
    }
}
@media (min-width: 2560px) {
    .boton {
        margin: 2vh 48vw;
    }
}

/* Media max */
@media (max-width: 385px) {
    .boton {
        margin: 2vh 38vw;
    }
}
@media (max-width: 768px) {
    .repos {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin: 1vh 0vw;
    }
    #contenedorRepo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .tamañoRepo {
        margin: 1vw 10vw;
        width: 80vw;
        height: 50vh;
    }
}
@media (max-width: 550px) {
    .secciones {
        line-height : 10vw;
    }
    #descripcion {
        margin: 3vh 5vw;
    }
    .boton2 {
        margin: 2vh 43vw;
    }
    .tamañoRepo {
        height: 27vh;
    }
}